In [ ]:
#Variables, Print and Input

#Just a basic code for getting monthhly Salary and Savings per month
yearly_salary = int(input("Enter your Yearly salary")) #input always string
savings = yearly_salary*0.2
Monthly_salary = round(yearly_salary/12)

print(f"Monthly Salary = {Monthly_salary}")
print(f"Yearly Savings = {savings}")

In [1]:
#Conditions and Loops
#Code for Even Numbers
num = int(input("Enter any number = "))
print("Even Numbers")
for i in range(1,num+1):
    if i % 2==0:
        print(i)

Even Numbers
2
4
6
8
10

In [8]:
#List
sales = [100, 200, 150, 300]
print(sales[0])
sales.append(400)
print(sales)
sales.remove(400)
print(sales)
for s in sales:
    print(s)

100
[100, 200, 150, 300, 400]
[100, 200, 150, 300]
100
200
150
300

In [ ]:
student = {
    "name":["Aun","Ali", "Kazmi"],
    "Age": 33,
    "Salary": 2500
}
print(student)

print(student["Salary"])
print(student["Age"])

for value in student.values():
  print(value)

for keys in student.keys():
  print(keys)

for keys, values in student.items():
  print(keys, values)

{'name': ['Aun', 'Ali', 'Kazmi'], 'Age': 33, 'Salary': 2500}
2500
33
['Aun', 'Ali', 'Kazmi']
33
2500
name
Age
Salary
name ['Aun', 'Ali', 'Kazmi']
Age 33
Salary 2500

In [48]:
products = {
    "Laptop": 1200,
    "Phone": 800,
    "Tablet": 400,
    "Monitor": 600
}
Total_Revenue = sum(products.values())
print("Total Revenue is =",Total_Revenue)

HSP = max(products, key = products.get)
print("Highest Selling Product",HSP)

for product, revenue in products.items():
    if revenue > 700:
        print(product,":", revenue)

Total Revenue is = 3000
Highest Selling Product Laptop
Laptop : 1200
Phone : 800

Functions with Lists and Dictionaries

In [ ]:
sales = [100, 200, 150, 300]

def total_sales(sales_list):
    return sum(sales_list)

print("Total Sales:", total_sales(sales))

Total Sales: 750

In [ ]:
#Task 1
numbers = [100, 200, 150, 300]

def average(num_dic):
    Total = sum(num_dic)
    count = len(num_dic)
    Average = round(Total/count)
    return Average

print("Average of numbers is", average(numbers))

Average of numbers is 188

In [16]:
#Task 2
students = {
    "Ali": 85,
    "Sara": 92,
    "Ahmed": 45,
    "Ayesha": 78
}

def highest_scorer(dic):
    Top_Scorer = max(dic, key = dic.get)
    return Top_Scorer

print("Highest scorer is", highest_scorer(students))

Highest scorer is Sara